<hr style="margin-top: 3rem;" />

<footer class="site-footer">
  <a href="https://github.com/meldm" class="footer-icon"><i class="fa fa-github fa-2x"></i></a>

  <a href="https://uk.linkedin.com/in/meldm" class="footer-icon"><i class="fa fa-linkedin fa-2x"></i></a>

  <a href="mailto:meldm@protonmail.com" class="footer-icon"><i class="fa fa-envelope-o fa-2x"></i></a>
</footer>
