<nav class="site-nav section-one animated fadeInUp">
  <ul class="nav">
    {{#foreach navigation}}
      <a href="{{url absolute="true"}}"><li class="nav-{{label}} {{#if current}}active{{/if}}" role="presentation">{{label}}</li></a>
    {{/foreach}}
  </ul>
</nav>
