<a href="#disqus_thread"><i class="fa fa-comments"></i></a>
<a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
   onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
  <i class="fa fa-twitter"></i>
</a>
<a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
   onclick="window.open(this.href, 'facebook-share', 'width=580,height=296');return false;">
  <i class="fa fa-facebook"></i>
</a>
