{{!< home-default}}
<nav class="section-one animated fadeInUp">
  {{navigation}}
</nav>

<header class="animated fadeInUp">
  <h1>{{@blog.title}}</h1>
  <h2>{{@blog.description}}</h2>
</header>

<section class="icon-banner section-two animated fadeInUp">
  <a href="https://github.com/meldm" class="footer-icon"><i class="fa fa-github fa-2x"></i></a>

  <a href="https://uk.linkedin.com/in/meldm" class="footer-icon"><i class="fa fa-linkedin fa-2x"></i></a>

  <a href="mailto:meldm@protonmail.com" class="footer-icon"><i class="fa fa-envelope-o fa-2x"></i></a>
</section>
