{{!< default}}
<section>
  <header class="">
    <h1 class="headline">Hi, I'm <strong>Dmitriy Melnichuk</strong>.</h1>
  </header>

  <div class="p-wrap">
    {{#post}}
      {{content}}
    {{/post}}
  </div>
</section>
