.flex-column {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  width: 70%;

  .flex-img {
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 35%;
    height: 100%;
  }

  .flex-text {
    align-items: center;
    margin-left: 2rem;
  }
}
