.hamburgler-icon-wrapper {
  position: relative;
  display: none;
  height: 26px;
  width: 26px;
  cursor: pointer;
  z-index: 1000002;
}

.hamburgler-icon,
.hamburgler-icon::before,
.hamburgler-icon::after {
  content: '';
  position: absolute;
  border-radius: 1em;
  height: 2px;
  width: 26px;
  background: lighten($color-charade, 15%);
  transition: all .2s ease;
  left: 0;
}

.hamburgler-icon {
  top: .75em;
}

.hamburgler-icon::before {
  top: -.55em;
}

.hamburgler-icon::after {
  top: .55em;
}

.hamburgler-active .hamburgler-icon {
  background: transparent;
  transform: rotate(-135deg);
}

.hamburgler-active .hamburgler-icon::before,
.hamburgler-active .hamburgler-icon::after {
  top: 0;
}

.hamburgler-active .hamburgler-icon::before {
  transform: rotate(90deg);
}

.hamburgler-active .hamburgler-icon,
.hamburgler-active .hamburgler-icon::before,
.hamburgler-active .hamburgler-icon::after {
  background: $color-white;
}

.hamburgler-menu {
  transition: all .8s ease;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-charade;
  color: $color-white;
  height: 100%;
  overflow: hidden;
  z-index: 1000000;
}

.hamburgler-menu-list {
  display: block;
  transition: all .8s ease;
  padding: 0;
  list-style-type: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);

  a {
    color: $color-whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 0;
    margin: 1rem 0;
    display: block;
  }
}

.hamburgler-active {
  .hamburgler-menu {
   opacity: .95;
   pointer-events: initial;
 }

 .hamburgler-menu-list {
   transform: translate(-50%, -50%) scale(1);
 }

 .hamburgler-icon-wrapper {
   position: fixed;
   right: 2rem;

    @media (max-width: 600px) {
      right: 1rem;
      top: 1.9rem;
    }
  }
}
