.index-page {
  background-color: $color-koamaru;
  height: 100vh !important;
  width: 100%;
  margin: 0;
  padding: 0 !important;
  position: absolute;
  font-family: $font-roboto !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // -webkit-animation: color-change-2x 6s ease-in-out infinite alternate both;
  // -moz-animation: color-change-2x 6s ease-in-out infinite alternate both;
  // animation: color-change-2x 6s ease-in-out infinite alternate both;

  ::selection {
    background: $color-white !important;
    color: $color-charade !important;
  }

  .hamburgler-icon-wrapper {
    display: none !important;
  }

  .site-header {
    background-color: $color-koamaru;
  	// -webkit-animation: color-change-2x 6s ease-in-out infinite alternate both;
  	// -moz-animation: color-change-2x 6s ease-in-out infinite alternate both;
  	// animation: color-change-2x 6s ease-in-out infinite alternate both;

    .nav-wrap {
      padding: 1rem 0 0 !important;
    }

    .nav {
      .after-a {
        color: $color-white;
        opacity: .7;

        &:hover {
          color: $color-white;
          opacity: 1;

          &::after {
            width: 100%;
            background-color: $color-white;
          }
        }
      }
    }
  }

  .site-nav {
    display: block;
    padding: 0 !important;

    a {
      font-weight: 700;

      @media (max-width: 600px) {
        font-size: .75rem !important;
      }
    }

    .site-title-link,
    h4 {
      display: none;
    }
  }

  header {
    animation-delay: .2s;
  }

  .section-one {
    animation-delay: 1.2s;
  }

  .section-two {
    animation-delay: 2.2s;
    margin-bottom: 2rem;
  }

  h1,
  h2,
  p {
    margin: .5rem 0;
    color: $color-white !important;
  }

  h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
    border: 0;
    display: block;

    @media (max-width: 600px) {
      font-size: 3rem !important;
    }
  }

  h2 {
    font-size: 2rem;
    font-weight: 300;
    opacity: .7;

    @media (max-width: 600px) {
      font-size: 1.3rem !important;
    }
  }

  a {
    text-transform: uppercase;
    text-align: center;
    border: 0;
    color: lighten($color-white, 50%);
    opacity: .7;
    transition: all .4s ease-in-out;

    &:hover {
      color: $color-white;
      opacity: 1;

      &::after {
        background-color: $color-contessa;
      }
    }
  }
}

.icon-banner {
  a {
    color: $color-white;
    opacity: .7;
    margin: 0 .5rem;

    &:hover {
      color: $color-white !important;
      opacity: 1;
    }

    &::after,
    &:hover::after {
      background-color: initial;
    }
  }

  .fa-2x {
    font-size: 1.75rem;
  }
}
