// Navigation
.site-header {
  background-color: $color-white;
  z-index: 1000000;
  text-align: center;
  width: 100%;
  top: 0;

  .nav {
    .after-a {
      border: 0;
      color: $color-charade;
      opacity: .7;
      transition: all .4s ease-in-out;

      &:hover {
        color: $color-charade;
        opacity: 1;

        &::after {
          background-color: $color-contessa;
        }
      }
    }
  }
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  @media (max-width: 600px) {
    padding: 0 1rem;
  }
}

.site-title {
  display: inline-block;
  margin: 0;
  transition: all .8s ease-in-out;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: .5rem;
  background: $color-white;
  border: 2px solid $color-charade;
  color: $color-charade;

  &.site-title:hover {
    background: $color-charade;
    color: $color-white;
    cursor: pointer;
  }
}

.site-title-link {
  border-bottom: 0;
  opacity: 1;

  h1 {
    background-color: $color-white;
    color: lighten($color-charade, 5%);
    border: 3px solid lighten($color-charade, 5%);
    padding: .5rem;
    font-size: 1.5rem;
    font-family: $font-playfair;
    transition: $transition-all;

    &:hover {
      background-color: lighten($color-charade, 5%);
      color: $color-white;
    }
  }

  &::after {
    bottom: 10px;
  }

  &:hover::after {
    width: 100%;
  }
}

h4 {
  font-size: 1rem;
  font-weight: 300;
  opacity: .7;
}

.nav {
  // font-family: $font-roboto;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  a {
    position: relative;
    display: inline-block;
    padding: 5px 15px;

    &:hover {
      background-color: transparent;
    }
  }

  .active {
    a {
      color: $color-charade;
      transition: all ease .8s;
    }
  }
}
