.photo-wrap {
  display: flex;
  max-width: 80rem;
  margin: 0 auto;
  flex-wrap: wrap;

  .tag-photography {
     width: 33.33333%;
     height: 300px;
     background-color: #292525;
     background-position: center center;
     background-size: cover;
     border: 0;
     position: relative;
     overflow: hidden;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     transition: opacity .6s ease;
     opacity: .9;

     @media (max-width: 800px) {
       width: 50% !important;
     }

     @media (max-width: 600px) {
       width: 100% !important;
     }

     &:hover {
       opacity: .7;
     }

     .pg-link-cover {
       position: absolute;
       z-index: 3;
       top: 0;
       left: 0;
       transition: all 100ms cubic-bezier(.42, 0, .58, 1);
     }

     .pg-cover {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-size: cover !important;
     }

     .pg-content a {
       top: initial;
       bottom: 0;
       height: auto;
       width: 100%;
       padding: 25% 0 5%;
       color: #fff;
       text-align: center;
       background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, transparent 1%, rgba(0, 0, 0, .05) 26%, rgba(0, 0, 0, .5) 71%, rgba(0, 0, 0, .7) 100%);

       .pg-meta {
         position: relative;
         top: 135px;
         z-index: 3;
         width: 90%;
         margin: 0 auto;
         color: #fff;

         h1 {
           color: $color-white !important;
           font-family: $font-old-standard;
           font-style: italic;
           font-size: 3.5rem;
         }

         h3 {
           color: $color-white;
           font-size: 1rem;
         }

         h1,
         h3 {
           letter-spacing: 1px;
           margin: 0;
           line-height: normal;
         }
       }
     }
   }

   .photography-thumb {
     display: flex;
     align-items: center;
     padding: 20px 0;

     .post-text {
       flex: 1 1 70%;
       margin-right: .5rem;
       align-self: flex-start;
     }

     .post-thumbnail {
       flex: 1 1 30%;
       border-bottom: 0;

       img {
         display: block;
         height: auto;
         width: 100%;
         cursor: pointer;
       }
     }
   }

   .inline-images {
     img {
       display: inline-block;
       float: left;
       width: 50%;
       margin: 1rem 0 2rem;

       &:first-child {
         padding-right: .25rem;
       }

       &:last-child {
         padding-left: .25rem;
       }
     }
   }

   @media screen and (max-width: 600px) {
     .photography-section div { margin: 0; }
     .photography-section { padding: 0; }

     .tag-photography {
       height: 200px;
     }

     .pg-content a {
       padding: 30% 0 5% !important;

       .pg-meta {
         top: 85px !important;

         h1 {
           font-size: 1.8rem !important;
         }

         h3 {
           font-size: .8rem !important;
         }
       }
     }
   }
}
